tests/complete-test-outputs/user-test-failed-2025-08-12T09-04-27-513Z.json
{
  "name": "Zoom Meeting Transcript to Action Items Workflow",
  "nodes": [
    {
      "id": "zoom_1",
      "type": "n8n-nodes-base.zoom",
      "position": [
        250,
        300
      ],
      "parameters": {
        "resource": "meeting",
        "meetingId": "={{ $json.meetingId }}",
        "operation": "get"
      },
      "name": "Zoom Meeting Trigger",
      "typeVersion": 1,
      "onError": "stopWorkflow"
    },
    {
      "id": "httpRequest_1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        650,
        300
      ],
      "parameters": {
        "url": "https://example.com/transcript",
        "method": "GET"
      },
      "name": "Download Transcript",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "maxTries": 3
    },
    {
      "id": "openAi_1",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "resource": "text",
        "operation": "complete",
        "model": "gpt-3.5-turbo",
        "prompt": "Analyze the following transcript and provide key insights:"
      },
      "name": "Analyze Transcript",
      "typeVersion": 1.1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "code_1",
      "type": "n8n-nodes-base.code",
      "position": [
        1250,
        300
      ],
      "parameters": {
        "jsCode": "// Transform Zoom transcript data into structured action items with deadlines for project management tool integration"
      },
      "name": "Extract Action Items",
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "asana_1",
      "type": "n8n-nodes-base.asana",
      "position": [
        1650,
        200
      ],
      "parameters": {
        "name": "{{ $('Extract Action Items').item.json.action_item }}",
        "dueOn": "{{ $('Extract Action Items').item.json.deadline }}"
      },
      "name": "Create Asana Tasks",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "httpRequest_2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1850,
        400
      ],
      "parameters": {
        "url": "{{ $('Extract Action Items').item.json.project_tool_url }}",
        "method": "POST"
      },
      "name": "Send to Project Tool",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "maxTries": 2
    }
  ],
  "connections": {
    "Zoom Meeting Trigger": {
      "main": [
        [
          {
            "node": "Download Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Transcript": {
      "main": [
        [
          {
            "node": "Analyze Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Transcript": {
      "main": [
        [
          {
            "node": "Extract Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Action Items": {
      "main": [
        [
          {
            "node": "Create Asana Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Project Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-12T09:04:27.513Z",
  "versionId": null
}