tests/complete-test-outputs/user-test-failed-2025-08-12T12-32-29-691Z.json
{
  "name": "Apollo Lead Enrichment & Outreach Automation",
  "nodes": [
    {
      "id": "httpRequest_1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        420,
        300
      ],
      "parameters": {
        "qs": {
          "page_size": "100",
          "sort_by_field": "created_at",
          "sort_ascending": "false"
        },
        "url": "https://api.apollo.io/v1/mixed_people/search",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "apolloApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "100"
            },
            {
              "name": "sort_by_field",
              "value": "created_at"
            }
          ]
        }
      },
      "name": "Apollo Lead Retrieval",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "maxTries": 3
    },
    {
      "id": "linkedIn_1",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        820,
        200
      ],
      "parameters": {
        "person": "={{ $json.linkedinProfileId || $json.email }}",
        "postAs": "person",
        "resource": "post"
      },
      "name": "LinkedIn Profile Enrichment",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "clearbit_1",
      "type": "n8n-nodes-base.clearbit",
      "position": [
        1020,
        400
      ],
      "parameters": {
        "domain": "={{ $json.company_domain || $json.domain }}",
        "resource": "company"
      },
      "name": "Company Data Enrichment",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "openAi_1",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1220,
        300
      ],
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "messages": {
          "messages": [
            {
              "role": "system",
              "content": "You are a lead scoring AI. Analyze the provided lead data and score from 1-100 based on ICP criteria. Return JSON with score and reasoning."
            },
            {
              "role": "user",
              "content": "Lead Data: {{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "name": "AI Lead Scoring",
      "typeVersion": 1.1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "if_1",
      "type": "n8n-nodes-base.if",
      "position": [
        1620,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "score_threshold",
              "leftValue": "={{ $json.score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Lead Score Filter",
      "typeVersion": 2.2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "gmail_1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2020,
        250
      ],
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "message": "={{ $json.personalizedEmail }}",
        "subject": "{{ $json.emailSubject }}",
        "operation": "send"
      },
      "name": "Send Cold Email",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "hubspot_1",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        2220,
        400
      ],
      "parameters": {
        "email": "={{ $json.email }}",
        "resource": "contact",
        "operation": "upsert",
        "additionalFields": {
          "leadScore": "={{ $json.score }}",
          "lastContactDate": "={{ new Date().toISOString() }}",
          "leadSource": "Apollo.io"
        }
      },
      "name": "Log Activity in HubSpot",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "scheduleTrigger_1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1750,
        300
      ],
      "parameters": {
        "rule": "interval",
        "notice": "",
        "interval": 5,
        "unit": "days"
      },
      "name": "Follow-up Reminder Scheduler",
      "typeVersion": 1.2,
      "onError": "stopWorkflow"
    }
  ],
  "connections": {
    "Apollo Lead Retrieval": {
      "main": [
        [
          {
            "node": "LinkedIn Profile Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Company Data Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Profile Enrichment": {
      "main": [
        [
          {
            "node": "AI Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Data Enrichment": {
      "main": [
        [
          {
            "node": "AI Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Scoring": {
      "main": [
        [
          {
            "node": "Lead Score Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Score Filter": {
      "main": [
        [
          {
            "node": "Send Cold Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Activity in HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cold Email": {
      "main": [
        [
          {
            "node": "Follow-up Reminder Scheduler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-12T12:32:29.691Z",
  "versionId": null
}