tests/complete-test-outputs/user-test-2025-08-11T20-24-29-957Z.json
{
  "name": "Intelligent Customer Onboarding Workflow",
  "nodes": [
    {
      "id": "webhook_1",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Customer Signup Webhook",
      "typeVersion": 2,
      "onError": "stopWorkflow"
    },
    {
      "id": "code_1",
      "type": "n8n-nodes-base.code",
      "position": [
        550,
        300
      ],
      "parameters": {
        "jsCode": "// Process customer signup webhook data and extract key information for intelligent onboarding workflow\n// Analyzes company data, determines industry/size, and prepares data for personalized sequences\n\nconst signupData = $input.all()[0].json;\n\n// Extract and validate customer information\nconst customer = {\n  email: signupData.email,\n  firstName: signupData.firstName || signupData.first_name,\n  lastName: signupData.lastName || signupData.last_name,\n  company: signupData.company || signupData.companyName,\n  phone: signupData.phone,\n  website: signupData.website,\n  signupDate: new Date().toISOString(),\n  source: signupData.source || 'website'\n};\n\n// Prepare data for company enrichment API\nconst enrichmentQuery = {\n  domain: customer.website || (customer.email ? customer.email.split('@')[1] : null),\n  company: customer.company,\n  email: customer.email\n};\n\nreturn [{\n  json: {\n    ...customer,\n    enrichmentQuery,\n    workflowId: $workflow.id,\n    executionId: $execution.id\n  }\n}];"
      },
      "name": "Process Signup Data",
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "httpRequest_1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        850,
        300
      ],
      "parameters": {
        "url": "https://api.clearbit.com/v2/companies/find",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clearbitApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $json.enrichmentQuery.domain }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        }
      },
      "name": "Fetch Company Data",
      "typeVersion": 4.2,
      "onError": "continueErrorOutput",
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "id": "code_2",
      "type": "n8n-nodes-base.code",
      "position": [
        1150,
        300
      ],
      "parameters": {
        "jsCode": "// Analyzes customer signup data to determine company profile, industry classification, and personalization parameters for the onboarding workflow\n\nconst customerData = $('Process Signup Data').first().json;\nconst companyData = $input.first().json;\n\n// Analyze company size and industry\nlet companyProfile = {\n  size: 'unknown',\n  industry: 'unknown',\n  tier: 'standard',\n  priority: 'medium',\n  demoType: 'standard'\n};\n\nif (companyData && !companyData.error) {\n  // Determine company size\n  const employees = companyData.metrics?.employees || 0;\n  if (employees > 1000) {\n    companyProfile.size = 'enterprise';\n    companyProfile.tier = 'enterprise';\n    companyProfile.priority = 'high';\n    companyProfile.demoType = 'executive';\n  } else if (employees > 100) {\n    companyProfile.size = 'medium';\n    companyProfile.tier = 'business';\n    companyProfile.priority = 'medium';\n    companyProfile.demoType = 'business';\n  } else if (employees > 10) {\n    companyProfile.size = 'small';\n    companyProfile.tier = 'professional';\n    companyProfile.priority = 'medium';\n    companyProfile.demoType = 'standard';\n  } else {\n    companyProfile.size = 'startup';\n    companyProfile.tier = 'starter';\n    companyProfile.priority = 'low';\n    companyProfile.demoType = 'self-service';\n  }\n\n  // Extract industry\n  companyProfile.industry = companyData.category?.industry || companyData.tags?.[0] || 'technology';\n}\n\n// Determine if high-value prospect\nconst isHighValue = companyProfile.size === 'enterprise' || companyProfile.size === 'medium';\n\n// Calculate lead score\nlet leadScore = 50; // Base score\nif (companyProfile.size === 'enterprise') leadScore += 40;\nelse if (companyProfile.size === 'medium') leadScore += 25;\nelse if (companyProfile.size === 'small') leadScore += 10;\n\nif (['technology', 'software', 'saas'].includes(companyProfile.industry.toLowerCase())) leadScore += 15;\n\nreturn [{\n  json: {\n    ...customerData,\n    companyProfile,\n    companyData: companyData || {},\n    isHighValue,\n    leadScore,\n    personalizedContent: {\n      emailTemplate: `${companyProfile.size}_${companyProfile.industry}`,\n      demoLength: companyProfile.size === 'enterprise' ? 60 : 30,\n      followUpSequence: companyProfile.tier\n    }\n  }\n}];"
      },
      "name": "Analyze Company Profile",
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "id": "emailSend_1",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1450,
        200
      ],
      "parameters": {
        "fromEmail": "onboarding@company.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ 'Welcome to [Product] - Let\\'s get ' + $json.company + ' started!' }}",
        "text": "={{ 'Hi ' + $json.firstName + ',\\n\\nWelcome to [Product]! We\\'re excited to help ' + $json.company + ' achieve its goals.\\n\\nBased on your company profile (' + $json.companyProfile.size + ' ' + $json.companyProfile.industry + ' company), we\\'ve prepared a personalized onboarding experience for you.\\n\\nWhat\\'s next:\\n1. We\\'ll schedule a ' + $json.personalizedContent.demoLength + '-minute demo tailored to your needs\\n2. You\\'ll receive industry-specific resources\\n3. Our team will provide dedicated support\\n\\nBest regards,\\nThe Onboarding Team' }}",
        "html": "={{ '<h2>Welcome to [Product]!</h2><p>Hi ' + $json.firstName + ',</p><p>We\\'re excited to help <strong>' + $json.company + '</strong> achieve its goals.</p><p>Based on your company profile (' + $json.companyProfile.size + ' ' + $json.companyProfile.industry + ' company), we\\'ve prepared a personalized onboarding experience.</p><h3>What\\'s next:</h3><ol><li>' + $json.personalizedContent.demoLength + '-minute personalized demo</li><li>Industry-specific resources</li><li>Dedicated support</li></ol>' }}",
        "options": {}
      },
      "name": "Send Personalized Welcome Email",
      "typeVersion": 2.1,
      "onError": "continueRegularOutput",
      "maxTries": 3
    },
    {
      "id": "segment_1",
      "type": "n8n-nodes-base.segment",
      "position": [
        1450,
        400
      ],
      "parameters": {
        "userId": "={{ $json.email }}",
        "event": "Customer Signed Up",
        "traits": {
          "email": "={{ $json.email }}",
          "firstName": "={{ $json.firstName }}",
          "lastName": "={{ $json.lastName }}",
          "company": "={{ $json.company }}",
          "companySize": "={{ $json.companyProfile.size }}",
          "industry": "={{ $json.companyProfile.industry }}",
          "tier": "={{ $json.companyProfile.tier }}",
          "leadScore": "={{ $json.leadScore }}"
        },
        "properties": {
          "source": "={{ $json.source }}",
          "signupDate": "={{ $json.signupDate }}",
          "isHighValue": "={{ $json.isHighValue }}",
          "demoType": "={{ $json.companyProfile.demoType }}"
        }
      },
      "name": "Track Signup Event",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "zohoCrm_1",
      "type": "n8n-nodes-base.zohoCrm",
      "position": [
        1750,
        300
      ],
      "parameters": {
        "operation": "create",
        "module": "lead",
        "email": "={{ $json.email }}",
        "phone": "={{ $json.phone }}",
        "firstName": "={{ $json.firstName }}",
        "lastName": "={{ $json.lastName }}",
        "company": "={{ $json.company }}",
        "additionalFields": {
          "leadSource": "Website Signup",
          "industry": "={{ $json.companyProfile.industry }}",
          "leadStatus": "New",
          "rating": "={{ $json.isHighValue ? 'Hot' : 'Warm' }}",
          "description": "={{ 'Lead Score: ' + $json.leadScore + ', Company Size: ' + $json.companyProfile.size + ', Tier: ' + $json.companyProfile.tier }}"
        }
      },
      "name": "Create CRM Lead",
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "id": "googleCalendar_1",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        2050,
        200
      ],
      "parameters": {
        "operation": "create",
        "calendarId": "primary",
        "start": "={{ DateTime.now().plus({ days: 2 }).toISO() }}",
        "end": "={{ DateTime.now().plus({ days: 2, minutes: $json.personalizedContent.demoLength }).toISO() }}",
        "summary": "={{ 'Demo Call - ' + $json.company + ' (' + $json.companyProfile.size + ' ' + $json.companyProfile.industry + ')' }}",
        "description": "={{ 'Demo call with ' + $json.firstName + ' ' + $json.lastName + ' from ' + $json.company + '.\\n\\nCompany Profile:\\n- Size: ' + $json.companyProfile.size + '\\n- Industry: ' + $json.companyProfile.industry + '\\n- Lead Score: ' + $json.leadScore + '\\n- Demo Type: ' + $json.companyProfile.demoType + '\\n\\nContact: ' + $json.email }}",
        "attendees": "={{ $json.email }}",
        "options": {
          "sendNotifications": true
        }
      },
      "name": "Schedule Demo Call",
      "typeVersion": 1.3,
      "onError": "continueRegularOutput"
    },
    {
      "id": "slack_1",
      "type": "n8n-nodes-base.slack",
      "position": [
        2050,
        400
      ],
      "parameters": {
        "channel": "#sales-alerts",
        "text": "{{ `🚨 High-Value Prospect Alert!\n\n*${$json.company}* just signed up!\n\n👤 Contact: ${$json.firstName} ${$json.lastName} (${$json.email})\n🏢 Company: ${$json.companyProfile.size} ${$json.companyProfile.industry} company\n📊 Lead Score: ${$json.leadScore}/100\n🎯 Tier: ${$json.companyProfile.tier}\n📅 Demo scheduled for ${DateTime.fromISO($('Schedule Demo Call').first().json.start).toFormat('MMM dd, yyyy at h:mm a')}\n\n*Action Required:* Review lead in CRM and prepare for demo call.` }}",
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "name": "Notify Sales Team",
      "typeVersion": 2.3,
      "onError": "continueRegularOutput",
      "maxTries": 2,
      "executeOnce": true
    },
    {
      "id": "sticky_triggers_1754943869352",
      "name": "Triggers Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -130
      ],
      "parameters": {
        "content": "## 📥 Triggers\nWebhook receives customer signup data and initiates the intelligent onboarding workflow. This serves as the entry point for new customer registrations.",
        "height": 710,
        "width": 310,
        "color": 6
      }
    },
    {
      "id": "sticky_transforms_1754943869352",
      "name": "Transform Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        890,
        -130
      ],
      "parameters": {
        "content": "## ⚙️ Transform\nProcesses and validates incoming signup data, extracting key customer information and preparing it for company enrichment. Structures data for downstream analysis.\n\nAnalyzes company data to determine business profile, industry classification, lead scoring, and personalization parameters. Identifies high-value prospects for escalation.",
        "height": 710,
        "width": 910,
        "color": 4
      }
    },
    {
      "id": "sticky_inputs_1754943869352",
      "name": "Inputs Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        -130
      ],
      "parameters": {
        "content": "## 📊 Inputs\nFetches comprehensive company data from external APIs to enrich customer profiles with industry, size, and other business attributes for personalization.",
        "height": 710,
        "width": 310,
        "color": 5
      }
    },
    {
      "id": "sticky_outputs_1754943869352",
      "name": "Outputs Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2310,
        -130
      ],
      "parameters": {
        "content": "## 🚀 Outputs\nSends personalized welcome emails and tracks customer engagement events across multiple channels. Provides immediate value and begins relationship building.",
        "height": 710,
        "width": 310,
        "color": 7
      }
    },
    {
      "id": "sticky_storage_1754943869352",
      "name": "Storage Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2720,
        -130
      ],
      "parameters": {
        "content": "## 💾 Storage\nCreates comprehensive lead records in CRM system with complete customer context, company analysis, and lead scoring for sales team follow-up.",
        "height": 710,
        "width": 310,
        "color": 8
      }
    },
    {
      "id": "sticky_integration_1754943869352",
      "name": "Integration Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3130,
        -130
      ],
      "parameters": {
        "content": "## 🔗 Integration\nSchedules appropriate demo calls based on customer profile and sends targeted notifications to sales team for high-value prospects requiring immediate attention.",
        "height": 710,
        "width": 310,
        "color": 6
      }
    },
    {
      "id": "sticky_promo_1754943869352",
      "name": "Ghost Team Promo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -130
      ],
      "parameters": {
        "content": "## 🚀 Grow your AI business\n\nNeed help in implementing this workflow for your business? Join the Ghost Team community.\n\nThis workflow is made with 💚 by Ghost Team.",
        "height": 710,
        "width": 280,
        "color": 4
      }
    }
  ],
  "connections": {
    "Customer Signup Webhook": {
      "main": [
        [
          {
            "node": "Process Signup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Signup Data": {
      "main": [
        [
          {
            "node": "Fetch Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Data": {
      "main": [
        [
          {
            "node": "Analyze Company Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Company Profile": {
      "main": [
        [
          {
            "node": "Send Personalized Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Signup Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create CRM Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create CRM Lead": {
      "main": [
        [
          {
            "node": "Schedule Demo Call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-11T20:24:29.958Z",
  "versionId": null,
  "__metadata": {
    "prompt": "Create an intelligent customer onboarding workflow that triggers when someone signs up, analyzes their company data via APIs, personalizes email sequences based on industry/size, schedules appropriate demo calls, tracks engagement across multiple channels, automatically escalates high-value prospects, and hands off qualified leads to sales with complete context.",
    "testName": "User Test",
    "generatedAt": "2025-08-11T20:24:29.958Z",
    "phases": {
      "discovery": true,
      "configuration": true,
      "building": true,
      "validation": true,
      "documentation": true
    },
    "validationAttempts": 3,
    "stickyNotesAdded": 7
  }
}